<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<ul>
		<li><a href="" th:href="@{/home}">Home</a></li>
		<li><a href="" th:href="@{/home/about}">About</a></li>
		<li><a href="" th:href="@{/home/services}">Services</a></li>
		
	</ul>
	
<h2>This is service page</h2>
	<h1 th:text="${session.msg}"></h1>
	
	<!--  removing the message-->
	
	<th:block th:text="${@SessionHelper.removeMsgFromSession()}"></th:block>
	
</body>
</html>